flows.json
[{"id":"38160b70.6ffce4","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"704b8fe2.663ad","type":"ui_form","z":"38160b70.6ffce4","name":"","label":"","group":"ac9ffdac.bf88","order":1,"width":0,"height":0,"options":[{"label":"radius_mean","value":"rm","type":"number","required":true,"rows":null},{"label":"texture_mean","value":"tm","type":"number","required":true,"rows":null},{"label":"perimeter_mean","value":"pm","type":"number","required":true,"rows":null},{"label":"area_mean","value":"am","type":"number","required":true,"rows":null},{"label":"smoothness_mean","value":"sm","type":"number","required":true,"rows":null},{"label":"compactness_mean","value":"cm","type":"number","required":true,"rows":null},{"label":"concavity_mean","value":"com","type":"number","required":true,"rows":null},{"label":"concave points_mean","value":"cpm","type":"number","required":true,"rows":null},{"label":"symmetry_mean","value":"sym","type":"number","required":true,"rows":null},{"label":"fractal_dimension_mean","value":"fdm","type":"number","required":true,"rows":null},{"label":"radius_se","value":"rs","type":"number","required":true,"rows":null},{"label":"texture_se","value":"ts","type":"number","required":true,"rows":null},{"label":"perimeter_se","value":"ps","type":"number","required":true,"rows":null},{"label":"area_se","value":"as","type":"number","required":true,"rows":null},{"label":"smoothness_se","value":"sse","type":"number","required":true,"rows":null},{"label":"compactness_se","value":"cse","type":"number","required":true,"rows":null},{"label":"concavity_worst","value":"cw","type":"number","required":true,"rows":null},{"label":"symmetry_worst","value":"sw","type":"number","required":true,"rows":null},{"label":"fractal_dimension_worstfd","value":"fdw","type":"number","required":true,"rows":null}],"formValue":{"rm":"","tm":"","pm":"","am":"","sm":"","cm":"","com":"","cpm":"","sym":"","fdm":"","rs":"","ts":"","ps":"","as":"","sse":"","cse":"","cw":"","sw":"","fdw":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":200,"wires":[["ab8b427c.7ecea","b52dc448.d2eec8"]]},{"id":"9712e396.d594e","type":"inject","z":"38160b70.6ffce4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":60,"wires":[["ab8b427c.7ecea"]]},{"id":"b52dc448.d2eec8","type":"debug","z":"38160b70.6ffce4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":320,"wires":[]},{"id":"ab8b427c.7ecea","type":"function","z":"38160b70.6ffce4","name":"pre-token","func":"global.set(\"rm\",msg.payload.rm)\nglobal.set(\"tm\",msg.payload.tm)\nglobal.set(\"pm\",msg.payload.pm)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"rm\",msg.payload.sm)\nglobal.set(\"rm\",msg.payload.cm)\nglobal.set(\"rm\",msg.payload.com)\nglobal.set(\"rm\",msg.payload.cpm)\nglobal.set(\"rm\",msg.payload.sym)\nglobal.set(\"rm\",msg.payload.fdb)\nglobal.set(\"rm\",msg.payload.rs)\nglobal.set(\"rm\",msg.payload.ts)\nglobal.set(\"rm\",msg.payload.ps)\nglobal.set(\"rm\",msg.payload.as)\nglobal.set(\"rm\",msg.payload.sse)\nglobal.set(\"rm\",msg.payload.cse)\nglobal.set(\"rm\",msg.payload.cw)\nglobal.set(\"rm\",msg.payload.sw)\nglobal.set(\"rm\",msg.payload.fdw)\nvar apikey=\"kZcmT-dUTawBeMauvIJZJsuiY9iwb3wez4dgL4WtrkYd\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":200,"wires":[["dc3fe93d.c7a478"]]},{"id":"dc3fe93d.c7a478","type":"http request","z":"38160b70.6ffce4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":200,"wires":[["5c4ef31e.c7141c","8f20043f.9c0da8"]]},{"id":"5c4ef31e.c7141c","type":"debug","z":"38160b70.6ffce4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":300,"wires":[]},{"id":"e32c5c8c.845d8","type":"http request","z":"38160b70.6ffce4","name":"","method":"POST","ret":"obj","paytoqs":"body","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/2339460d-ca00-4e95-af2d-19dba25be59a/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":200,"wires":[["6f074a32.c5ecb4","e01df95b.8b7188"]]},{"id":"8f20043f.9c0da8","type":"function","z":"38160b70.6ffce4","name":"Pre Prediction","func":"var rm = global.get(\"rm\")\nvar tm = global.get(\"tm\")\nvar pm = global.get(\"pm\")\nvar am = global.get(\"am\")\nvar sm = global.get(\"sm\")\nvar cm = global.get(\"cm\")\nvar com = global.get(\"com\")\nvar cpm = global.get(\"cpm\")\nvar sym = global.get(\"sym\")\nvar fdb = global.get(\"fdb\")\nvar rs = global.get(\"rs\")\nvar ts = global.get(\"ts\")\nvar ps = global.get(\"ps\")\nvar as = global.get(\"as\")\nvar sse = global.get(\"sse\")\nvar cse = global.get(\"cse\")\nvar cw = global.get(\"cw\")\nvar sw = global.get(\"sw\")\nvar fdw = global.get(\"fdw\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"radius_mean\", \"texture_mean\", \"perimeter_mean\", \"area_mean\" , \"smoothness_mean\", \"compactness_mean\", \"concavity_mean\", \"concave points_mean\", \"symmetry_mean\", \"fractal_dimension_mean\", \"radius_se\", \"texture_se\", \"perimeter_se\", \"area_se\", \"smoothness_se\", \"compactness_se\", \"concavity_se\", \"concave points_se\", \"symmetry_se\", \"fractal_dimension_se\", \"radius_worst\", \"texture_worst\", \"perimeter_worst\", \"smoothness_worst\", \"compactness_worst\", \"concavity_worst\", \"concave points_worst\", \"symmetry_worst\",\"fractal_dimension_worst\"]],\"values\": [[rm,tm,pm,am,sm,cm,com,cpm,sym,fdb,rs,ts,ps,as,sse,cse,cw,sw,fdw]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":100,"wires":[["e32c5c8c.845d8"]]},{"id":"6f074a32.c5ecb4","type":"function","z":"38160b70.6ffce4","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":100,"wires":[["fde484a.eac3678","c23ac265.77c4f"]]},{"id":"fde484a.eac3678","type":"ui_text","z":"38160b70.6ffce4","group":"ac9ffdac.bf88","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-left","x":1220,"y":260,"wires":[]},{"id":"e01df95b.8b7188","type":"debug","z":"38160b70.6ffce4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":500,"wires":[]},{"id":"c23ac265.77c4f","type":"debug","z":"38160b70.6ffce4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1320,"y":140,"wires":[]},{"id":"ac9ffdac.bf88","type":"ui_group","z":"","name":"New","tab":"e1a94add.ba7b68","order":1,"disp":true,"width":"6","collapse":false},{"id":"e1a94add.ba7b68","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]